import("lattice")
import("ggplot2")

importFrom("RColorBrewer",
           "brewer.pal")

importFrom("grDevices",
           "extendrange")

importFrom("stats",
           "as.formula",
           "cor",
           "sd",
           "quantile")

importFrom("utils",
           "modifyList")

export('targetDiagram',
       'target_diagram',
       'tdStats',
       'applyStats',
       'tdTheme'
       )
